---
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
import { updateView } from "../lib/views";
const { title, image, date, description } = Astro.props.frontmatter;
const views = updateView("notes", Astro.props.url.split("/")[2]);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script defer src="https://umami.jkbro.dev/script.js" data-website-id="5ad1f210-047a-40f4-8b90-20b0000379ca"></script>
		<script defer src="https://umami.jkbro.dev/script.js" data-website-id="770d2990-c8ed-4eaa-bb40-9a04efa5df97"></script>
	</head>
	<body class="antialiased">
		<main class="min-h-screen w-full">
			<article
				class="py-8 md:py-24 md:w-2/3 mx-auto border-l border-r border-black"
			>
				<Heading />
				<h1 class="text-5xl p-4">{title}</h1>
				{
					(image == "" || image) && (
						<img
							src={image}
							class="w-full aspect-video"
							alt={`${title} feature image`}
						/>
					)
				}
				<div
					class="flex justify-between items-center px-4 my-4 text-neutral-500"
				>
					<div class="flex gap-2">
						Published on {new Date(date).toDateString()}
					</div>
					<!-- <div>{views} views</div> -->
				</div>
				<div class="prose !max-w-full rounded-lg p-4 mt-4 mb-12">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
	* {
		font-family: "JetBrains Mono", monospace;
	}
</style>
