---
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
import Highlight from "../components/Highlight.astro";
const { title, image, github, demo, technologies, description } =
	Astro.props.frontmatter;
import { updateView } from "../lib/views";
const views = updateView("projects", Astro.props.url.split("/")[2]);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="min-h-screen w-full">
			<article
				class="py-8 md:py-24 md:w-2/3 mx-auto border-l border-r border-black"
			>
				<Heading />
				<h1 class="text-5xl p-4">{title}</h1>
				<img
					src={image}
					class="w-full aspect-video"
					alt={`${title} feature image`}
				/>
				<div class="flex justify-between items-center px-4 my-4">
					<div class="flex gap-2">
						{
							technologies &&
								technologies.map((tech: string) => (
									<Highlight class="bg-yellow-400 rounded-full text-sm p-2">
										{tech.charAt(0).toUpperCase() +
											tech.slice(1)}
									</Highlight>
								))
						}
					</div>
					<div class="text-neutral-500">{views} views</div>
				</div>

				<div class="prose !max-w-full rounded-lg p-4 mt-4 mb-12">
					<slot />
					<hr />
					{github && <a href={github}>Github</a>}
					{demo && <a href={demo}>Demo</a>}
				</div>
			</article>
			<Footer />
		</main>
	</body>
	<style is:global>
		@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
		* {
			font-family: "JetBrains Mono", monospace;
		}
	</style>
</html>
